body{
    background-color: black;
    height: 100%;
    overflow: scroll;
    font-family: 'Poppins', sans-serif;
}
ul{
    list-style: none;
}
h1{
    font-size: 12px;
}
.icon {

    position: relative;
    top: 5px;
    left: 5px;
    padding-right: 8px;
    
}
.svg{
    
    float: left;    
}
.svg2{
    padding-top: 40px;
    margin-left: 10px;
}
.text1{
    display: inline block;
    padding-top: 5px;
    font-size: 1.2rem;

}
.profile{
    display: inline block;
    float: right;
    line-height: 2px;
    padding: 25px;
}
.container{
    display: grid;
    height: 100vh;
    grid-template-columns:200px 600px;
    grid-template-rows: 200px 600px;
    background-color: red;
    margin-left: 180px;
    margin-right: 180px;
    border: 1px solid;
    

}
.sidebar{
    display: grid;
    grid-template-columns:600px;
    grid-template-rows:1fr 2fr 3fr;
    border: ;
    background-color: blue;
    grid-row:1/span 2 ;
    grid-column: 1;

}
.header{
    display: grid;
    border: 1px #bbb;
    grid-template-columns:2fr 1fr ;
    grid-template-rows: 2fr 2fr;
    background-color: white;
    grid-row: 1;
    grid-column: 2/span 2;
}
.main-content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 1px ;
    background-color: #bbb;
    grid-row: 2;
    grid-column: 2/span 2;
    
}
.logo{
    padding: 20px;
    display: inline-block;
    color: white;
    font-weight: bold;
    gap: 5px;

}
.navigate{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px;
    color: white;
    font-weight: bold;
    

}
.branding{
    gap: 5px;
    padding: 15px;
    color: white;

}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
.user{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    

}
.user1{
    display: flex;


}
.buttons{
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;

}
.projects{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,200px);
    background-color: ;
    grid-row: 1/span 2;
    grid-column: 1;

}
.announce{
    background-color: white;
    border: 1px;
    border-radius: 3px;
    box-shadow: 3px;
    width: 195px;
    height: 250px;
    margin-top: 10px;
    font-size: 0.7rem;
    padding-left: 5px;
    padding-right: 5px;

}
.trending{
    background-color: white;
    border: 1px ;
    border-radius: 3px;
    box-shadow: 3px;
    width: 190px;
    height: 250px;
    font-size: 0.7rem;
    padding-left: 5px;
    padding-left: 5px;

}
.a ,.b, .c, .e ,.f,.d{
background-color: white;
border: 2px ;
height: 150px;
width: 230px;
border-radius: 8px;
margin: 10px;
font-size: 0.7rem;
padding-left: 5px;
border-left: 5px solid gold;

}

input{
    width: 300px;
    border-radius: 5px;
    border: 2px;
}
button{
    background-color: blue;
    border: 1px black;
    border-radius: 10px;
    width: 60px;
    height: 20px;
    color: white;
    font-weight: bold;

}
.para{
    border-top: 3px solid #bbb;
}
